/* <!-- abou team membar --> */
/* award start */
.award {
  padding: 0 0 140px 0;
}
.for_bdr {
  position: relative;
  overflow: hidden; /* Ensures pseudo-border does not leak */
}
.for_bdr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px; /* Ensuring border curve */
  padding: 1px; /* Border width */
  background: linear-gradient(
    to bottom,
    rgba(41, 41, 41, 1),
    rgba(41, 41, 41, 0)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.award_card {
  background-image: url(../assets/award.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px 50px 80px 50px;
}

.padcard {
  display: flex;
  padding: 50px 0 0 0;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.lee_btn {
  display: flex;
  gap: 10px;
}
.lee_btn button {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #8c8c8c;
  margin: 0;
  background-color: transparent;
  border: 1px solid #1f1f1f;
  padding: 0px 18px;
  border-radius: 50px;
  height: 55px;
}
.leeetwo button {
  color: #fff !important;
}
.lee_flex {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.lee_flex img {
  width: 24px;
  height: 24px;
}
.award_thitd {
  margin-bottom: 50px;
}
.award_card h2 {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin: 0;
  text-align: center;
}
.award_card p {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #8c8c8c;
  margin: 20px 0 0 0;
  text-align: center;
}
.why {
  margin-top: 50px;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  padding: 50px;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}
.why h3 {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin: 0;
}
.why p {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #8c8c8c;
  margin: 14px 0 0 0;
}
.see_award h2 {
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #bfbfbf;
  margin: 80px 0 40px 0;
  text-align: center;
}

.awrd_margg {
  margin-bottom: 50px;
}
.ard_btn {
  margin-top: 50px;
}
/* common btn in many section style */
.comon_btn {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  height: 63px;
  padding: 0 24px;
  border-radius: 56px;
  margin-right: 10px;
}
.comon_btn:hover {
  background-color: #fff !important;
  color: #1a1a1a !important;
  border: 1px solid #fff !important;
}
.sbthre {
  display: flex;
  background-color: transparent;
  color: #fff;
  border: 1px solid #1f1f1f;
  height: 68px !important;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 24px !important;
  margin-right: 0;
}
.nes_btn {
  background-color: #1a1a1a;
  border-radius: 50px;
  width: 68px !important;
  height: 48px !important;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}
.nes_btn img {
  width: 28px !important;
  height: 28px !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* awards start */
  .award {
    padding: 0 0 70px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 108px;
    height: 108px;
  }
  .lee_btn button {
    font-size: 14px;
    padding: 0px 10px;
    height: 37px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 14px;
    height: 49px;
    padding: 0 20px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 18px;
  }
  .award_card p {
    font-size: 14px;
    margin: 10px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 20px;
  }
  .why {
    margin-top: 20px;
    padding: 20px;
  }
  .why h3 {
    font-size: 18px;
  }
  .why p {
    font-size: 14px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 0px 20px 30px 20px;
  }

  .see_award h2 {
    font-size: 20px;
    margin: 40px 0 20px 0;
  }
  .awrd_margg {
    margin-bottom: 20px;
  }
  .ard_btn {
    margin-top: 25px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* awards start */
  .award {
    padding: 0 0 90px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 108px;
    height: 108px;
  }
  .lee_btn button {
    font-size: 16px;
    padding: 0px 14px;
    height: 44px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 14px;
    height: 49px;
    padding: 0 20px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 18px;
  }
  .award_card p {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 30px;
  }
  .why {
    margin-top: 20px;
    padding: 20px;
  }
  .why h3 {
    font-size: 18px;
  }
  .why p {
    font-size: 14px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 0px 20px 30px 20px;
  }

  .see_award h2 {
    font-size: 20px;
    margin: 40px 0 20px 0;
  }
  .awrd_margg {
    margin-bottom: 25px;
  }
  .ard_btn {
    margin-top: 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* awards start */
  .award {
    padding: 0 0 90px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 108px;
    height: 108px;
  }
  .lee_btn button {
    font-size: 16px;
    padding: 0px 14px;
    height: 44px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 14px;
    height: 49px;
    padding: 0 20px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 20px;
  }
  .award_card p {
    font-size: 16px;
    margin: 14px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 40px;
  }
  .why {
    margin-top: 20px;
    padding: 20px;
  }
  .why h3 {
    font-size: 18px;
  }
  .why p {
    font-size: 14px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 0px 30px 40px 29px;
  }

  .see_award h2 {
    font-size: 20px;
    margin: 40px 0 20px 0;
  }
  .awrd_margg {
    margin-bottom: 35px;
  }
  .ard_btn {
    margin-top: 40px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* awards start */
  .award {
    padding: 0 0 120px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 85px;
    height: 85px;
  }
  .lee_btn button {
    font-size: 16px;
    padding: 0px 14px;
    height: 44px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 14px;
    height: 49px;
    padding: 0 20px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 20px;
  }
  .award_card p {
    font-size: 16px;
    margin: 14px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 40px;
  }
  .why {
    margin-top: 35px;
    padding: 30px;
  }
  .why h3 {
    font-size: 18px;
  }
  .why p {
    font-size: 14px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 10px 35px 50px 35px;
  }

  .see_award h2 {
    font-size: 18px;
    margin: 55px 0 28px 0;
  }
  .awrd_margg {
    margin-bottom: 40px;
  }
}
/* Extra large devices ( extra large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* awards start */
  .award {
    padding: 0 0 120px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 108px;
    height: 108px;
  }
  .lee_btn button {
    font-size: 16px;
    padding: 0px 14px;
    height: 44px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 14px;
    height: 49px;
    padding: 0 20px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 20px;
  }
  .award_card p {
    font-size: 16px;
    margin: 14px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 40px;
  }
  .why {
    margin-top: 40px;
    padding: 40px;
  }
  .why h3 {
    font-size: 20px;
  }
  .why p {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 20px 40px 60px 40px;
  }

  .see_award h2 {
    font-size: 20px;
    margin: 65px 0 30px 0;
  }
  .awrd_margg {
    margin-bottom: 40px;
  }
}

/* Extra Extra large devices (large desktops, 1400px and up) */
/* @media (min-width: 1400px) {
    
    } */

/* //agulo custom container er jonno */
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1550px) {
  .cus_container {
    max-width: 1285px !important;
  }

  /* awards start */
  .award {
    padding: 0 0 120px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 108px;
    height: 108px;
  }
  .lee_btn button {
    font-size: 16px;
    padding: 0px 14px;
    height: 44px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 14px;
    height: 49px;
    padding: 0 20px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 20px;
  }
  .award_card p {
    font-size: 16px;
    margin: 14px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 40px;
  }
  .why {
    margin-top: 40px;
    padding: 40px;
  }
  .why h3 {
    font-size: 20px;
  }
  .why p {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 20px 40px 60px 40px;
  }

  .see_award h2 {
    font-size: 20px;
    margin: 65px 0 30px 0;
  }
  .awrd_margg {
    margin-bottom: 40px;
  }
}
@media (min-width: 1551px) and (max-width: 1700px) {
  .cus_container {
    max-width: 1420px !important;
  }

  /* awards start */
  .award {
    padding: 0 0 120px 0;
  }
  /* comos parts */
  .padcard {
    padding: 40px 0 0 0;
  }
  .padcard img {
    width: 108px;
    height: 108px;
  }
  .lee_btn button {
    font-size: 16px;
    padding: 0px 14px;
    height: 44px;
  }
  .lee_flex {
    gap: 8px;
  }
  .lee_flex img {
    width: 20px;
    height: 20px;
  }
  .comon_btn {
    font-size: 15px;
    height: 55px;
    padding: 0 22px;
  }
  .sbthre {
    height: 56px !important;
    padding: 0 10px 0 16px !important;
  }
  .nes_btn {
    width: 52px !important;
    height: 36px !important;
    margin-left: 20px;
  }
  .nes_btn img {
    width: 24px;
    height: 24px;
  }
  /* comos parts */

  .award_card h2 {
    font-size: 20px;
  }
  .award_card p {
    font-size: 16px;
    margin: 14px 0 0 0;
  }

  .award_thitd {
    margin-bottom: 40px;
  }
  .why {
    margin-top: 40px;
    padding: 40px;
  }
  .why h3 {
    font-size: 20px;
  }
  .why p {
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  .award_card {
    padding: 20px 40px 60px 40px;
  }

  .see_award h2 {
    font-size: 20px;
    margin: 65px 0 30px 0;
  }
  .awrd_margg {
    margin-bottom: 40px;
  }
}
@media (min-width: 1701px) and (max-width: 1800px) {
  .cus_container {
    max-width: 1518px !important;
  }
}
@media (min-width: 1801px) and (max-width: 1850px) {
  .cus_container {
    max-width: 1603px !important;
  }
}
@media (min-width: 1851px) {
  .cus_container {
    max-width: 1735px !important;
  }
}
/* ////// this are for customs  */

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 2500px) {
}

@media (min-width: 400px) and (max-width: 575px) {
}
@media (min-width: 330px) and (max-width: 575px) {
}
