/* testimonial start */
.testimonial {
  padding: 0 0 140px 0;
}
/* comon title */
.startcon_ttl {
  display: flex;
  justify-content: center;
}
.comon_tittles {
  text-align: center;
  width: 1100px;
}
.comon_tittles h1 {
  font-family: "Sora", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.comon_tittles p {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #808080;
  margin: 20px 0 100px 0;
}
/* comon title */
.testi_card {
  padding: 40px 40px 67px;
  overflow: hidden; /* Ensures no overflow beyond border-radius */
  border-radius: 20px; /* Ensuring rounded corners */
  background: linear-gradient(
    to bottom,
    rgba(26, 26, 26, 1),
    rgba(26, 26, 26, 0)
  ); /* Background gradient */
  border: 1px solid #262626;
  height: 331px;
  cursor: pointer;
}
.toptex_crd {
  margin-right: 26px;
}
.col-lg-3:last-child .toptex_crd {
  margin-right: 0 !important;
}
.testi_img {
  width: 58px;
  height: 58px;
  border-radius: 8px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  border: 1px solid #262626;
}
.testi_img svg {
  width: 30px; /*  width সেট  */
  height: 30px; /*  height সেট  */
  fill: white !important; /* SVG-এর রঙ পরিবর্তন */
}
.testi_cont p {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin: 30px 0 0;
}
.tooltip_btn {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  top: -4px;
  left: 15px;
  margin-bottom: 20px;
}
/* .testi_card:hover ~ .client_data,
.tooltip_btn:hover ~ .client_data {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
} */
/* .tooltip_btn:hover + .client_data {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Hover er somoy enabled hobe
  } */
.client_data {
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 1;
  pointer-events: none; /* Tooltip er upor cursor rakhleo hover kaj korbe na */
}
.client_data img {
  width: 70px;
  height: 70px;
}

.client_name {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}
.client_name h2 {
  font-family: "Sora", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  color: #fff;
  margin: 0;
}
.client_name h3 {
  font-family: "Sora", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: #808080;
  margin: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* testimonial start */
  .testimonial {
    padding: 0 0 70px 0;
  }
  /* comon tittle */
  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 28px;
  }
  .comon_tittles p {
    font-size: 14px;
    margin: 10px 0 50px 0;
  }
  /* comon tittle */
  .testi_card {
    padding: 11px;
    overflow: hidden;
    border-radius: 14px;
    height: 219px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .toptex_crd {
    /* margin: 0 30px 0; */
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .col-lg-3:last-child .toptex_crd {
    margin: 0 30px 0 !important;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 24px;
    height: 24px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .tooltip_btn svg {
  }
  .testi_cont p {
    font-size: 14px;
    margin: 20px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 0;
    margin-bottom: 20px;
  }
  .client_data {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .client_data img {
    width: 60px;
    height: 60px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* testimonial start */
  .testimonial {
    padding: 0 0 90px 0;
  }
  /* comon tittle */
  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 32px;
  }
  .comon_tittles p {
    font-size: 16px;
    margin: 10px 0 60px 0;
  }
  /* comon tittle */
  .testi_card {
    padding: 30px;
    overflow: hidden;
    border-radius: 14px;
    height: 219px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .toptex_crd {
    /* margin: 0 30px 0; */
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .col-lg-3:last-child .toptex_crd {
    margin: 0 30px 0 !important;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 24px;
    height: 24px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .tooltip_btn svg {
  }
  .testi_cont p {
    font-size: 16px;
    margin: 20px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 0;
    margin-bottom: 20px;
  }
  .client_data {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .client_data img {
    width: 60px;
    height: 60px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* testimonial start */
  .testimonial {
    padding: 0 0 90px 0;
  }
  /* comon tittle */
  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 38px;
  }
  .comon_tittles p {
    font-size: 16px;
    margin: 14px 0 60px 0;
  }
  /* comon tittle */
  .testi_card {
    padding: 22px 12px 23px;
    overflow: hidden;
    border-radius: 14px;
    height: 291px;
  }
  .toptex_crd {
    margin-right: 13px;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 22px; /* ইচ্ছামতো width সেট করো */
    height: 22px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .testi_cont p {
    font-size: 16px;
    margin: 20px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 15px;
    margin-bottom: 20px;
  }
  .client_data {
    gap: 9px;
  }
  .client_data img {
    width: 50px;
    height: 50px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* testimonial start */
  .testimonial {
    padding: 0 0 120px 0;
  }
  /* comon tittle */
  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 38px;
  }
  .comon_tittles p {
    font-size: 16px;
    margin: 14px 0 60px 0;
  }
  /* comon tittle */
  .testi_card {
    padding: 22px 22px 23px;
    overflow: hidden;
    border-radius: 14px;
    height: 328px;
  }
  .toptex_crd {
    margin-right: 18px;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 24px; /* ইচ্ছামতো width সেট করো */
    height: 24px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .testi_cont p {
    font-size: 16px;
    margin: 20px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 15px;
    margin-bottom: 20px;
  }
  .client_data {
    gap: 20px;
  }
  .client_data img {
    width: 50px;
    height: 50px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}
/* Extra large devices ( extra large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* navbar */

  /* testimonial start */
  .testimonial {
    padding: 0 0 120px 0;
  }
  /* comon tittle */

  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 38px;
  }
  .comon_tittles p {
    font-size: 16px;
    margin: 14px 0 80px 0;
  }
  /* comon tittle */
  .testi_card {
    padding: 22px 22px 54px;
    overflow: hidden;
    border-radius: 14px;
    height: 290px;
  }
  .toptex_crd {
    margin-right: 26px;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 24px; /* ইচ্ছামতো width সেট করো */
    height: 24px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .testi_cont p {
    font-size: 16px;
    margin: 20px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 15px;
    margin-bottom: 20px;
  }
  .client_data {
    gap: 20px;
  }
  .client_data img {
    width: 50px;
    height: 50px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}

/* //agulo custom container er jonno */
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1550px) {
  .cus_container {
    max-width: 1285px !important;
  }

  /* testimonial start */
  .testimonial {
    padding: 0 0 120px 0;
  }
  /* comon tittle */
  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 38px;
  }
  .comon_tittles p {
    font-size: 16px;
    margin: 14px 0 80px 0;
  }
  /* common tittle */
  .testi_card {
    padding: 30px 30px 54px;
    overflow: hidden; /* Ensures no overflow beyond border-radius */
    border-radius: 14px; /* Ensuring rounded corners */
    height: 287px;
  }
  .toptex_crd {
    margin-right: 26px;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 24px; /* ইচ্ছামতো width সেট করো */
    height: 24px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .testi_cont p {
    font-size: 16px;
    margin: 24px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 15px;
    margin-bottom: 20px;
  }
  .client_data {
    gap: 20px;
  }
  .client_data img {
    width: 50px;
    height: 50px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}
@media (min-width: 1551px) and (max-width: 1700px) {
  .cus_container {
    max-width: 1420px !important;
  }

  /* testimonial start */
  .testimonial {
    padding: 0 0 120px 0;
  }
  /* comon tittle */
  .comon_tittles {
    text-align: center;
    width: 1100px;
  }
  .comon_tittles h1 {
    font-size: 38px;
  }
  .comon_tittles p {
    font-family: "Sora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #808080;
    margin: 14px 0 80px 0;
  }
  /* common tittle */
  .testi_card {
    padding: 30px 30px 54px;
    overflow: hidden; /* Ensures no overflow beyond border-radius */
    border-radius: 14px; /* Ensuring rounded corners */
    height: 261px;
  }
  .toptex_crd {
    margin-right: 26px;
  }
  .testi_img {
    width: 44px;
    height: 44px;
    border-radius: 6px;
  }
  .testi_img svg {
    width: 24px; /* ইচ্ছামতো width সেট করো */
    height: 24px; /* ইচ্ছামতো height সেট করো */
    fill: white !important; /* SVG-এর রঙ পরিবর্তন */
  }
  .testi_cont p {
    font-size: 16px;
    margin: 24px 0 0;
  }
  .tooltip_btn {
    padding: 0;
    top: -4px;
    left: 15px;
    margin-bottom: 20px;
  }
  .client_data {
    gap: 20px;
  }
  .client_data img {
    width: 50px;
    height: 50px;
  }
  .client_name {
    gap: 2px;
  }
  .client_name h2 {
    font-size: 18px;
    margin: 0;
  }
  .client_name h3 {
    font-size: 16px;
    margin: 0;
  }
}
@media (min-width: 1801px) and (max-width: 1850px) {
  .cus_container {
    max-width: 1603px !important;
  }
  @media (min-width: 1851px) {
    .cus_container {
      max-width: 1735px !important;
    }
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .testi_card {
    padding: 21px;
    height: 219px;
  }
}
